# This is an example file. Copy this to .env and fill in your local credentials.
# This file IS committed to Git.

# PostgreSQL Database Connection
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# JWT Settings for Authentication
JWT_SECRET=